<md-toolbar class="login-toolbar" color="primary">
  <h1><strong>User App</strong></h1>
</md-toolbar>
<div class="container" style="width:600px; margin:auto">
  <div class="col-3 tab-wrapper">
    <form action="" #form="ngForm" (ngSubmit)="login()">
      <md-input-container class="input-full-width">
        <md-icon mdPrefix class="prefix-icon">email</md-icon>
        <input mdInput placeholder="Email" type="email" name="email" [(ngModel)]="user.email" #email="ngModel" required="email">
        <md-error>Email is <strong>required</strong></md-error>
      </md-input-container>
      <md-input-container class="input-full-width">
        <md-icon mdPrefix class="prefix-icon">lock</md-icon>
        <input mdInput placeholder="Password" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
        <md-error>Password is <strong>required</strong></md-error>
      </md-input-container>
      <button md-raised-button color="accent" class="button full-width-btn" [disabled]="!form.valid" type="submit">Login</button>
      <md-error>{{error}}</md-error>
    </form>
    <button md-raised-button color="accent" class="button full-width-btn" [routerLink]="['/signup']">Click to Signup</button>
  </div>
</div>